# Any .sqlite database
*.sqlite
# All compiled python
*.pyc
# Everything in the src dir
src/
# All vim swap files
.*.swp
# All site local configs
app/etc/*.site.conf
# The app/var dir and all it's contents. App startup should ensure it exists
app/var
